*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  height: 25vh;
  background-color: black;
}
.line{
  text-decoration: underline green;
}
.logo{
  padding: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.links{
  color: white;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.l-1:hover{
  color: green;
  cursor: pointer;
}

.l-2:hover{
  color: blue;
  cursor: pointer;
}
.l-3:hover{
  color: orange;
  cursor: pointer;
}
.l-4:hover{
  color: pink;
  cursor: pointer;
}
.l-5:hover{
  color: goldenrod;
  cursor: pointer;
}
.main{
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rate{
  margin-bottom: 80vh;
  color: green;
  padding: 10px;
  font-size: x-large;
  border: 2px solid black;
}

.text{
  margin-bottom: 80vh;
  color: white;
  padding: 10px;
  font-size:50px;
}
.buy{
  width: 200px;
  height: 50px;
  border: 2px solid black;
}
.buy:hover{
  background-color: green;
  cursor: pointer;
}